.carousel carousel-slider{
   width: 50%;
   border:2px solid;
}
.carousel .slider-wrapper{
    height: 300px;
    width: 50%;
    /* border:2px solid; */
}
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }