th, td {
    padding: 5px;
    text-align: left;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.edit_hover_class Button{
  visibility:hidden;
}
.edit_hover_class:hover Button {
 visibility:visible;
}